*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 300px;
    width: 250px;
    position: absolute;
    border: 2px;
    border-style: groove;
    border-color: rgb(58, 18, 12);
    border-radius: 5%;
    overflow: hidden;
}

#card1{
    z-index: 5;
}

#card2{
    rotate: -7deg;
    z-index: 4;
}

#card3{
    rotate: -14deg;
    z-index: 3;
}

#card4{
    rotate: -15deg;
    z-index: 2;
}

#card5{
    rotate: -20deg;
    z-index: 1;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}
#card5:hover{
    z-index: 10;
}
